In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()
!pip install -q pandas==1.3.5

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.5/11.5 MB 72.2 MB/s eta 0:00:00

In [ ]:
%sql sqlite:///FinalDB.db

In [ ]:
import pandas as pd
df = pd.read_csv('/content/ChicagoCrimeData.csv')

In [14]:
df_census = pd.read_csv('/content/ChicagoCensusData.csv')
df_school = pd.read_csv('/content/ChicagoPublicSchools.csv')

In [34]:
df.to_sql("ChicagoCrimeData", con, if_exists='replace', index=False,method="multi")

533

In [35]:
df_census.to_sql("ChicagoCensusData", con, if_exists='replace', index=False,method="multi")
df_school.to_sql("ChicagoPublicSchoolsData", con, if_exists='replace', index=False,method="multi")

566

In [36]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   COMMUNITY_AREA_NUMBER                         77 non-null     float64
 1   COMMUNITY_AREA_NAME                           78 non-null     object
 2   PERCENT_OF_HOUSING_CROWDED                    78 non-null     float64
 3   PERCENT_HOUSEHOLDS_BELOW_POVERTY              78 non-null     float64
 4   PERCENT_AGED_16__UNEMPLOYED                   78 non-null     float64
 5   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  78 non-null     float64
 6   PERCENT_AGED_UNDER_18_OR_OVER_64              78 non-null     float64
 7   PER_CAPITA_INCOME                             78 non-null     int64
 8   HARDSHIP_INDEX                                77 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.6+ KB

In [46]:
df_school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   School_ID                                         566 non-null    int64
 1   NAME_OF_SCHOOL                                    566 non-null    object
 2   Elementary, Middle, or High School                566 non-null    object
 3   Street_Address                                    566 non-null    object
 4   City                                              566 non-null    object
 5   State                                             566 non-null    object
 6   ZIP_Code                                          566 non-null    int64
 7   Phone_Number                                      566 non-null    object
 8   Link                                              565 non-null    object
 9   Network_Manager                                   566 non-null    object
 10  Collaborative_Name                                566 non-null    object
 11  Adequate_Yearly_Progress_Made_                    566 non-null    object
 12  Track_Schedule                                    566 non-null    object
 13  CPS_Performance_Policy_Status                     566 non-null    object
 14  CPS_Performance_Policy_Level                      566 non-null    object
 15  HEALTHY_SCHOOL_CERTIFIED                          566 non-null    object
 16  Safety_Icon                                       566 non-null    object
 17  SAFETY_SCORE                                      513 non-null    float64
 18  Family_Involvement_Icon                           566 non-null    object
 19  Family_Involvement_Score                          566 non-null    object
 20  Environment_Icon                                  566 non-null    object
 21  Environment_Score                                 513 non-null    float64
 22  Instruction_Icon                                  566 non-null    object
 23  Instruction_Score                                 513 non-null    float64
 24  Leaders_Icon                                      566 non-null    object
 25  Leaders_Score                                     566 non-null    object
 26  Teachers_Icon                                     566 non-null    object
 27  Teachers_Score                                    566 non-null    object
 28  Parent_Engagement_Icon                            566 non-null    object
 29  Parent_Engagement_Score                           566 non-null    object
 30  Parent_Environment_Icon                           566 non-null    object
 31  Parent_Environment_Score                          566 non-null    object
 32  AVERAGE_STUDENT_ATTENDANCE                        565 non-null    object
 33  Rate_of_Misconducts__per_100_students_            566 non-null    float64
 34  Average_Teacher_Attendance                        566 non-null    object
 35  Individualized_Education_Program_Compliance_Rate  566 non-null    object
 36  Pk_2_Literacy__                                   566 non-null    object
 37  Pk_2_Math__                                       566 non-null    object
 38  Gr3_5_Grade_Level_Math__                          566 non-null    object
 39  Gr3_5_Grade_Level_Read__                          566 non-null    object
 40  Gr3_5_Keep_Pace_Read__                            566 non-null    object
 41  Gr3_5_Keep_Pace_Math__                            566 non-null    object
 42  Gr6_8_Grade_Level_Math__                          566 non-null    object
 43  Gr6_8_Grade_Level_Read__                          566 non-null    object
 44  Gr6_8_Keep_Pace_Math_                             566 non-null    object
 45  Gr6_8_Keep_Pace_Read__                            566 non-null    object
 46  Gr_8_Explore_Math__                               566 non-null    object
 47  Gr_8_Explore_Read__                               566 non-null    object
 48  ISAT_Exceeding_Math__                             476 non-null    float64
 49  ISAT_Exceeding_Reading__                          476 non-null    float64
 50  ISAT_Value_Add_Math                               468 non-null    float64
 51  ISAT_Value_Add_Read                               468 non-null    float64
 52  ISAT_Value_Add_Color_Math                         566 non-null    object
 53  ISAT_Value_Add_Color_Read                         566 non-null    object
 54  Students_Taking__Algebra__                        566 non-null    object
 55  Students_Passing__Algebra__                       566 non-null    object
 56  9th Grade EXPLORE (2009)                          566 non-null    object
 57  9th Grade EXPLORE (2010)                          566 non-null    object
 58  10th Grade PLAN (2009)                            566 non-null    object
 59  10th Grade PLAN (2010)                            566 non-null    object
 60  Net_Change_EXPLORE_and_PLAN                       566 non-null    object
 61  11th Grade Average ACT (2011)                     566 non-null    object
 62  Net_Change_PLAN_and_ACT                           566 non-null    object
 63  College_Eligibility__                             566 non-null    object
 64  Graduation_Rate__                                 566 non-null    object
 65  College_Enrollment_Rate__                         566 non-null    object
 66  COLLEGE_ENROLLMENT                                566 non-null    int64
 67  General_Services_Route                            566 non-null    int64
 68  Freshman_on_Track_Rate__                          566 non-null    object
 69  X_COORDINATE                                      566 non-null    float64
 70  Y_COORDINATE                                      566 non-null    float64
 71  Latitude                                          566 non-null    float64
 72  Longitude                                         566 non-null    float64
 73  COMMUNITY_AREA_NUMBER                             566 non-null    int64
 74  COMMUNITY_AREA_NAME                               566 non-null    object
 75  Ward                                              566 non-null    int64
 76  Police_District                                   566 non-null    int64
 77  Location                                          566 non-null    object
dtypes: float64(12), int64(7), object(59)
memory usage: 345.0+ KB

In [37]:
df_census.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [38]:
df.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     533 non-null    int64
 1   CASE_NUMBER            533 non-null    object
 2   DATE                   533 non-null    object
 3   BLOCK                  533 non-null    object
 4   IUCR                   533 non-null    object
 5   PRIMARY_TYPE           533 non-null    object
 6   DESCRIPTION            533 non-null    object
 7   LOCATION_DESCRIPTION   533 non-null    object
 8   ARREST                 533 non-null    bool
 9   DOMESTIC               533 non-null    bool
 10  BEAT                   533 non-null    int64
 11  DISTRICT               533 non-null    int64
 12  WARD                   490 non-null    float64
 13  COMMUNITY_AREA_NUMBER  490 non-null    float64
 14  FBICODE                533 non-null    object
 15  X_COORDINATE           529 non-null    float64
 16  Y_COORDINATE           529 non-null    float64
 17  YEAR                   533 non-null    int64
 18  LATITUDE               529 non-null    float64
 19  LONGITUDE              529 non-null    float64
 20  LOCATION               529 non-null    object
dtypes: bool(2), float64(6), int64(4), object(9)
memory usage: 80.3+ KB

In [40]:
#Find the total number of crimes recorded in the CRIME table.
%sql SELECT COUNT(date) FROM ChicagoCrimeData;

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [45]:
#List community areas with per capita income less than 11000.
%sql SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [ ]:
#List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [52]:
%sql SELECT CASE_NUMBER FROM ChicagoCrimeData WHERE DESCRIPTION lIKE '%minor%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

In [55]:
#List all kidnapping crimes involving a child?
%sql SELECT CASE_NUMBER FROM ChicagoCrimeData WHERE upper (PRIMARY_TYPE) = 'KIDNAPPING' AND upper(DESCRIPTION) lIKE '%child%';

 * sqlite:///FinalDB.db
Done.

[('HN144152',)]

In [58]:
#What kinds of crimes were recorded at schools?
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM ChicagoCrimeData WHERE upper (LOCATION_DESCRIPTION) lIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [74]:
#List the average safety score for each type of school.
%sql SELECT "Elementary, Middle, High School" as Type_of_School, AVG(SAFETY_SCORE) as avg_safety_score FROM ChicagoPublicSchoolsData GROUP BY "Elementary, Middle, High School" ;

 * sqlite:///FinalDB.db
Done.

[('Elementary, Middle, High School', 49.50487329434698)]

In [77]:
#List 5 community areas with highest % of households below poverty line
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY  FROM ChicagoCensusData ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY  desc LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [78]:
#Which community area is most crime prone?
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(ID) as Number_Of_Crime FROM ChicagoCrimeData GROUP BY COMMUNITY_AREA_NUMBER  ORDER BY COUNT(ID) desc LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [79]:
#Use a sub-query to find the name of the community area with highest hardship index
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM ChicagoCensusData WHERE  HARDSHIP_INDEX =(SELECT MAX(HARDSHIP_INDEX) FROM ChicagoCensusData );

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

In [83]:
#Use a sub-query to determine the Community Area Name with most number of crimes?
%sql SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM ChicagoCrimeData 
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(ID) DESC LIMIT 1 );

 * sqlite:///FinalDB.db
Done.

[('Austin',)]